<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>

<div>
  <label>Enter Steam ID: <input type="text" [(ngModel)]="SteamID" required>
    <button (click)="getRecentGames(SteamID)">search</button>
    to look up recently played games of user.</label>

</div>

<!--output requested by user-->
<div>
  <ul>
    <li *ngFor="let oneGame of recentGames">
      Played {{oneGame.name}} for {{Math.round((oneGame.playtime_2weeks / 60) * 10) / 10}}
      hour(s) in two weeks,
      and {{Math.round((oneGame.playtime_forever / 60) * 10) / 10}} hour(s) in total.
    </li>
  </ul>
</div>

<!--example output-->
<div>
  <ul>
    <label>Sample Outcome:</label>
    <li *ngFor="let oneGame of mockRecentlyPlayedGames">
      Played {{oneGame.name}} for {{Math.round((oneGame.playtime_2weeks / 60) * 10) / 10}}
      hour(s) in two weeks,
      and {{Math.round((oneGame.playtime_forever / 60) * 10) / 10}} hour(s) in total.
    </li>
  </ul>


</div>
