<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>

<div>
  <label>Enter Steam ID: <input type="text" [(ngModel)]="SteamID" required>
    <button (click)="getRecentGames(SteamID)">search</button>
    to look up recently played games of user.</label>

</div>

<!--output requested by user-->
<div>
  <ul>
    <li *ngFor="let oneGame of recentGames">
      User {{oneGame.SteamID}} played {{oneGame.mostPlayedGame2Week}} for {{oneGame.mostPlayedGame2WeekPlayeTime}}
      hour(s) in two weeks. Most recent news title for this game is "{{oneGame.newsTitleForGame}}". This record was
      {{oneGame.cached}} cached.
    </li>
  </ul>
</div>

